/*@import 'bootstrap.min.css'*/
/*@import 'mixins'*/

body
    margin 10px 20px
    font-family arial, helvetica
    font-size 13px

.row
    float left
    clear left


.value
    padding-left 20px
    font-weight bold
    text-transform uppercase

#lamp
    cursor pointer

.templates
    display none

.machines
    padding-left 0
    list-style none
    margin-top 20px
    margin-left 0
    .appliance
        width 350px
        float left
        background-color #eee
        padding 10px 14px
        margin-bottom 10px
        margin-right 10px

        .applianceDetails
            /*display none*/
            padding 10px 0

        .icon-info-sign
            padding-right 5px
            margin-top 1px
            cursor pointer

        &.on
            background-color #b2f274

        &.off
            background-color #f2b274

        .value
            float right
            cursor pointer
            display block
            width 30px
            text-align center
            border-radius 4px
            color white
            margin-top -2px
            display none
            background-color grey
            padding 3px 5px

        .power
            font-weight bold

        .canvas
            background-color white
            margin-top 5px
            border-radius 5px
            width 342px
            height 150px


